.alignCenter{
    text-align:  center;
}

.centerElement{
    margin: 0 auto;
}

.imgSize{
    width: 450px;
    height: 300px;
}

.imgContainer{
    margin-bottom: 40px;
}

.articles{
    margin-top: 100px;
    margin-bottom: 100px;
}

.adminButtonsContainer{
    margin-top: 70px;
}

.listCars{
    margin-bottom: 150px;
    text-align: left;
}

.different{
    font-style: oblique;
    text-decoration: underline;
}

.peopleLikedCarAd li, .alignTextLeft{
    text-align: left;
}

.alignTextRight{
    text-align: right
}

